html {
    background-color: #ffffff;
    font-size: 16px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
  
    /* these are specific to different browsers */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: white;
    max-height: 1920px;
  }

  .topWrapper {
    display: flex;
    flex-direction: row;
  }

  .upperContainer {
    display: flex;
    flex-direction: column;
    height: .75vh;
  }

  .lowerContainer {
    display: flex;
    flex-direction: column;
    height: .25vh;
    border-top: 2px solid black;
  }